<div class="header-container">
  <div class="logo-header">
    <img src="assets/logo.PNG" alt="Univerzitet Dunav Logo" class="logo">
  </div>
  
  <div class="header-title">
    <h2>Dobrodošli u Studentski servis UniDunav</h2>
  </div>
  
  <div class="logout-container">
  <button class="profil-button" routerLink="moj-profil">Student profil</button>
  <button class="logout-button" (click)="logout()">Logout</button>
</div>
</div>

<!-- Layout: sidebar + sadržaj -->
<div class="dashboard-layout">
  <!-- Sidebar -->
  <div class="sidebar">
    <button routerLink="predmeti" routerLinkActive="active">Pregled predmeta</button>
    <button routerLink="obavestenja" routerLinkActive="active">Obaveštenja</button>
    <button routerLink="prijava" routerLinkActive="active">Prijava predmeta</button>
    <button routerLink="istorija" routerLinkActive="active">Istorija studiranja</button>
    <button routerLink="evaluacije" routerLinkActive="active">Evaluacije znanja</button>
  </div>

  <!-- Glavni prikaz -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>