.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.dugmad {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}