<div class="container py-5" *ngIf="departman">
  <h1 class="text-center text-primary mb-4 py-5">{{ departman.naziv }}</h1>
  <p class="lead text-center mb-5">{{ departman.opis }}</p>

  <app-rector
    *ngIf="sefDepartmanaData"
    [ime]="sefDepartmanaData.ime"
    [titula]="sefDepartmanaData.titula"
    [altText]="sefDepartmanaData.altText"
    [opis1]="sefDepartmanaData.opis1"
    [slikaSrc]="sefDepartmanaData.slikaSrc"
  ></app-rector>

  <app-osnovne-kartice [katedre]="katedre"></app-osnovne-kartice>
</div>
