   <div class="container fakultetDeDiv py-5">
    <!-- <h1 class="text-center text-primary mb-5">{{ fakultetData?.naziv }}</h1> -->
  
    <app-about-us *ngIf="aboutData" [title]="aboutData.title" [description]="aboutData.description"></app-about-us>
  
    <!-- <app-rector
      *ngIf="dekanData"
      [ime]="dekanData.ime"
      [altText]="dekanData.altText"
      [opis1]="dekanData.opis1"
    ></app-rector> -->
    <app-rector
      *ngIf="dekanData"
      [ime]="dekanData.ime"
      [titula]="dekanData.titula"
      [altText]="dekanData.altText"
      [opis1]="dekanData.opis1"
      [slikaSrc]="dekanData.slikaSrc"
    ></app-rector>

  
    <app-contact *ngIf="kontaktData" [kontakt]="kontaktData"></app-contact>

    <button class="text-center btn btn-primary" [routerLink]="['/studijski-programi']">
      Studijski programi
    </button>
    
    
  
    <div class="text-center mt-4">
      <a routerLink="/fakulteti"  class="btn btn-secondary">Nazad na fakultete</a>
    </div>
  </div>
  