<app-hero></app-hero>
<app-why-choose-us></app-why-choose-us>
<app-about-us [data]="aboutData"></app-about-us>
<app-rector
  [ime]="'Prof. Dr. Sreten Milutinović'"
  [titula]="'Rektor Univerziteta'"
  [slikaSrc]="'assets/images/profa1.jpeg'"
  [altText]="'Univerzitet Dunav'"
  [opis1]="'Prof. Dr. Sreten Milutinović je renomirani stručnjak u oblasti IT-a, sa dugogodišnjim iskustvom u akademskom i naučnom radu.'"
  [opis2]="'Njegova vizija je unapređenje obrazovanja kroz inovacije i istraživanja, sa posebnim fokusom na razvoj studenata i akademske zajednice.'"
  [opis3]="'Tokom svoje karijere, osvojio je brojne prestižne nagrade, uključujući IT Inovator godine i Zlatnu plaketu za doprinos nauci.'"
></app-rector>

<app-location></app-location>
<app-contact [kontakt]="kontaktData"></app-contact>
