<app-hero></app-hero>
<app-why-choose-us></app-why-choose-us>
<app-about-us
[title]="aboutData?.title"
[description]="aboutData?.description"
[image]="aboutData?.image"
></app-about-us>

<app-rector
  *ngIf="rektorData"
  [ime]="rektorData.ime"
  [titula]="rektorData.titula"
  [slikaSrc]="rektorData.slikaSrc"
  [altText]="rektorData.altText"
  [opis1]="rektorData.opis1"
></app-rector>

<!-- <app-location></app-location> -->
<app-contact *ngIf="kontaktData" [kontakt]="kontaktData"></app-contact>
