<div class="container my-5 mb-4">
    <h2 class="text-center mb-4">Zašto Izabrati Naš Univerzitet?</h2>
    
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg text-center p-3">
          <div class="card-body">
            <i class="bi bi-mortarboard fs-1 text-primary"></i>
            <h5 class="card-title mt-3">Najbolje Obrazovanje</h5>
            <p class="card-text">Učite od iskusnih profesora sa najboljom tehnologijom.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg text-center p-3">
          <div class="card-body">
            <i class="bi bi-people fs-1 text-success"></i>
            <h5 class="card-title mt-3">Raznoliko Društvo</h5>
            <p class="card-text">Pridružite se globalnoj studentskoj mreži i doživite nove kulture.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg text-center p-3">
          <div class="card-body">
            <i class="bi bi-lightbulb fs-1 text-warning"></i>
            <h5 class="card-title mt-3">Inovativna Istraživanja</h5>
            <p class="card-text">Pristup vrhunskim istraživačkim centrima i revolucionarnim projektima.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  