<div class="container mt-5" style="max-width: 500px;">
     <button
    (click)="goBack()"
    class="btn btn-primary mb-4 flex items-center text-blue-600 hover:text-blue-800 font-medium"
  >
    🔙 Nazad
  </button>
  <h2 class="text-center mb-4">{{ editing ? 'Izmena Role' : 'Dodavanje Nove Role' }}</h2>

  <form [formGroup]="roleForm" (ngSubmit)="submit()">
    <div class="form-group mb-3">
      <label for="naziv">Naziv Role</label>
      <input
        type="text"
        id="naziv"
        formControlName="naziv"
        class="form-control"
        [class.is-invalid]="roleForm.get('naziv')?.invalid && roleForm.get('naziv')?.touched"
      />
      <div class="invalid-feedback">Naziv je obavezan.</div>
    </div>

    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-success" [disabled]="roleForm.invalid">
        {{ editing ? 'Sačuvaj Izmene' : 'Dodaj Rolu' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Otkaži</button>
    </div>
  </form>
</div>
