<div class="container mt-4">
  <button
    (click)="goBack()"
    class="btn btn-primary my-4 flex items-center text-blue-600 hover:text-blue-800 font-medium"
  >
    🔙 Nazad
  </button>

  <h2 class="text-center mb-4">{{ isEdit ? 'Izmeni Katedru' : 'Dodaj Katedru' }}</h2>

  <form (ngSubmit)="sacuvaj()" #form="ngForm">
    <div class="mb-3">
      <label class="form-label">Naziv</label>
      <input class="form-control" [(ngModel)]="katedra.naziv" name="naziv" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Opis</label>
      <textarea class="form-control" [(ngModel)]="katedra.opis" name="opis" rows="4"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Šef katedre</label>
      <select class="form-select" [(ngModel)]="profesorId" name="sefKatedreId" required>
        <option *ngFor="let profesor of profesori" [value]="profesor.id">
          {{ profesor.ime }} {{ profesor.prezime }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Departman</label>
      <select class="form-select" [(ngModel)]="departmanId" name="departmanId" required>
        <option *ngFor="let departman of departmani" [value]="departman.id">
          {{ departman.naziv }}
        </option>
      </select>
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-2" (click)="otkazi()">Otkaži</button>
      <button type="submit" class="btn btn-primary">Sačuvaj</button>
    </div>
  </form>
</div>
