<div class="obavestenja-container py-5">
  <h2 class="text-center mb-5 display-4 text-primary">Opšta obaveštenja</h2>

  <div *ngIf="obavestenja.length > 0; else prazno">
    <div *ngFor="let o of obavestenja" class="obavestenje-kartica">
      <h4>{{ o.naslov }}</h4>
      <p>{{ o.tekst }}</p>
      <div class="info">
        <span>Datum: {{ o.datum }}</span>
        <span *ngIf="o.autor?.ime">{{ o.autor.ime }} {{ o.autor.prezime }}</span>
      </div>
    </div>
  </div>

  <ng-template #prazno>
    <p>Trenutno nema dostupnih obaveštenja.</p>
  </ng-template>
</div>