<div class="p-4 max-w-md mx-auto bg-white rounded shadow">
   <button
    (click)="goBack()"
    class="btn btn-primary mb-4 flex items-center text-blue-600 hover:text-blue-800 font-medium"
  >
    🔙 Nazad
  </button>
 <h2 class="text-2xl font-bold text-center text-gray-800 mb-6 tracking-wide py-5">
    {{ isEditMode ? 'Izmena postojećeg korisnika' : 'Kreiranje novog korisnika' }}
  </h2>      
  <form (ngSubmit)="submit()" #form="ngForm" class="space-y-3">
        <!-- <input class="input px-4 py-3 my-2" name="email" [(ngModel)]="user.email" placeholder="Email" required /> -->
        <input
          class="input px-4 py-3 my-2 w-full border border-gray-300 rounded"
          name="email"
          [(ngModel)]="user.email"
          placeholder="Email"
          required
          pattern=".+@.+\..+"
          #emailInput="ngModel"
        />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-red-500 text-sm">
          Email mora biti validan.
        </div>

        <!-- <input class="input px-4 py-3 my-2" name="password" [(ngModel)]="user.password" placeholder="Lozinka" required type="password" /> -->
         <input
            *ngIf="!isEditMode"
            class="input px-4 py-3 my-2"
            name="password"
            [(ngModel)]="user.password"
            placeholder="Lozinka"
            required
            type="password"
          />

        <input class="input px-4 py-3 my-2" name="ime" [(ngModel)]="user.ime" placeholder="Ime" required />
        <input class="input px-4 py-3 my-2" name="prezime" [(ngModel)]="user.prezime" placeholder="Prezime" required />
        <input class="input px-4 py-3 my-2" name="adresa" [(ngModel)]="user.adresa" placeholder="Adresa" required />

        <input
          class="input px-4 py-3 my-2 w-full border border-gray-300 rounded"
          name="jmbg"
          [(ngModel)]="user.jmbg"
          placeholder="JMBG"
          required
          pattern="^\d{13}$"
          #jmbgInput="ngModel"
        />
        <div *ngIf="jmbgInput.invalid && jmbgInput.touched" class="text-red-500 text-sm">
          JMBG mora imati tačno 13 cifara.
        </div>
        <!-- <input class="input px-4 py-3 my-2" name="jmbg" [(ngModel)]="user.jmbg" placeholder="JMBG" required /> -->

        <!-- <div class="mt-6">
          <label class="block font-medium">Role:</label>
          <label *ngFor="let role of availableRoles" class="block">
            <input type="checkbox" [value]="role" (change)="toggleRole($event)" />
            {{ role }}
          </label>
        </div> -->

        <div class="my-5">
          <label class="block font-semibold text-gray-700 mb-2">Uloge korisnika:</label>
          <div *ngFor="let role of availableRoles">
            <ng-container *ngIf="isEditMode || role.naziv !== 'STUDENT'">
              <label class="flex items-center gap-2">
                <input
                  type="checkbox"
                  [value]="role.naziv"
                  (change)="toggleRole($event)"
                  [checked]="hasRole(role.naziv)"
                  class="accent-blue-600"
                />
                {{ role.naziv }}
              </label>
            </ng-container>
          </div>
        </div>

        <div class="text-center mt-6">
          <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-primary w-100"
            [ngClass]="form.invalid ? 'bg-bg-blue-600-200 text-black-500 border-black-400 cursor-not-allowed' : 'bg-blue-600 text-white hover:bg-blue-700 border-blue-600'"
          >
             {{ isEditMode ? '💾 Sačuvaj izmene' : '➕ Dodaj korisnika' }}
          </button>
        </div>
        <!-- <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded" [disabled]="form.invalid">Dodaj</button> -->
      </form>
    </div>