<div class="d-flex justify-content-end p-2">
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<div class="dashboard-container">
  <h2>Dobrodošli na panel studentske službe</h2>

  <div class="dugmad">
  <button routerLink="trebovanje">Trebovanje materijala</button>
  <button routerLink="potvrde">Izdavanje potvrda</button>
  <button routerLink="obavestenja">Kreiraj opšta obaveštenja</button>
  <button routerLink="upis">Upis studenta</button>
  <button routerLink="biblioteka">Izdavanje i vraćanje knjiga</button>
  <button routerLink="trebovanje-knjiga">Trebovanje knjiga</button>
  <button routerLink="termini-nastave">Kreiranje termina nastave</button>
  <button routerLink="kreiraj-prijavu-ispita">Kreiraj prijavu ispita</button>
  <button routerLink="kreiraj-evaluaciju">Kreiraj evaluaciju znanja</button>
</div>

  <router-outlet></router-outlet>
</div>