<!-- Logout dugme gore desno -->
<div class="header-container">
  <div class="logo-header">
    <img src="assets/logo.PNG" alt="Univerzitet Dunav Logo" class="logo">
  </div>
<div class="header-title">
    <h2>Dobrodošli na panel Komercijaliste</h2>
  </div>
  
  <div class="logout-container">
    <button class="profil-button" routerLink="profil">Komercijalista profil</button>
  <button class="logout-button" (click)="logout()">Logout</button>
  
</div>
</div>


<!-- Glavni layout -->
<div class="dashboard-layout">
  <!-- Sidebar -->
  <div class="sidebar">
    <button routerLink="trebovanje" routerLinkActive="active">Trebovanje materijala</button>
    <button routerLink="trebovanje-knjiga" routerLinkActive="active">Trebovanje knjiga</button>
    <button routerLink="dodavanje-knjiga" routerLinkActive="active">Dodavanje knjiga</button>
  </div>

  <!-- Sadržaj -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
