<div class="container about-us">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="section-title">O Univerzitetu Dunav</h2>
        <p>
          Univerzitet Dunav je moderna obrazovna institucija posvećena akademskoj izvrsnosti i inovacijama. Sa bogatom
          tradicijom i savremenim pristupom učenju, naš univerzitet pruža studentima znanje koje im omogućava da budu lideri u svojim oblastima.
        </p>
        <p>
          Nalazimo se u srcu Evrope, nadahnuti tokom reke Dunav, simbola povezanosti, razvoja i neprekidnog napretka.
          Naš cilj je da pružimo visok kvalitet obrazovanja, kombinujući teoriju i praksu kroz saradnju sa vodećim kompanijama i istraživačkim institutima.
        </p>
        <p>
          Bilo da želite da započnete akademsku karijeru ili unapredite svoje veštine, Univerzitet Dunav je pravo mesto za vas!
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/images/poz1.jpeg" alt="Univerzitet Dunav" class="about-image img-fluid rounded">
      </div>
    </div>
  </div>
  