<div class="container mt-2">
  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary dugme-pocetna" (click)="goToHome()">Početna</button>
  </div>
</div>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="w-100" style="max-width: 400px;">
    <h2 class="text-center mb-4">Prijava</h2>


    
    
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email adresa</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Lozinka</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.form.valid">Prijavi se</button>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
