<!-- <footer class="footer text-light px-8">
    <div class="container py-4">
      <div class="row">
        
        <div class="col-md-6 text-center text-md-start">
          <h5 class="footer-title mb-4">Univerzitet Dunav</h5>
          <p class="footer-text mb-4">Reka znanja koja nikada ne staje.</p>
        </div>
  
        <div class="col-md-6 text-left">
          <h5 class="footer-title mb-4">Kontakt</h5>
          <p class="footer-text mb-2"><i class="bi bi-telephone-fill"></i> +381 64 123 4567</p>
          <p class="footer-text mb-2"><i class="bi bi-envelope-fill"></i> kontakt&#64;univerzitet.rs</p>
          <p class="footer-text mb-4"><i class="bi bi-geo-alt-fill"></i> Heroja Pinkija 88, Srbija</p>
        </div>
  
      </div>
    </div>
  
    <div class="copyright text-center py-3">
      &copy; 2025 Webips & Team. Sva prava zadržana.
    </div>
  </footer> -->

  <footer class="footer text-light px-8">  
    <div class="copyright text-center py-3">
      &copy; 2025 Webips & Team. Sva prava zadržana.
    </div>
  </footer>
  
  <!-- <footer class="footer text-light px-8">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-6 text-left text-md-start">
          <h5 class="footer-title mb-4">{{ nazivUniverziteta }}</h5>
          <p class="footer-text mb-4">Reka znanja koja nikada ne staje.</p>
        </div>
  
        <div class="col-md-6 text-left">
          <h5 class="footer-title mb-4">Kontakt</h5>
          <p class="footer-text mb-2"><i class="bi bi-telephone-fill"></i> {{ telefon }}</p>
          <p class="footer-text mb-2"><i class="bi bi-envelope-fill"></i> {{ email }}</p>
          <p class="footer-text mb-4"><i class="bi bi-geo-alt-fill"></i> {{ lokacija }}</p>
        </div>
      </div>
    </div>
  
    <div class="copyright text-center py-3">
      &copy; 2025 Webips & Team. Sva prava zadržana.
    </div>
  </footer>
   -->